
.nopaper-detalhes-assinatura {

  min-height: 100%;
  position: relative;

  .badge {
    max-width: 180px;
  }

  .badge-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
  }

  .card-body {
    padding: 12px;
  }

  table, td {
    border-collapse: collapse;
  }
  thead {
    display: table;
    width: calc(100% - 17px);
  }

  tbody {
    display: block;
    max-height: 150px;
    overflow-y: scroll;
    padding-right: 6px;
  }

  th, td {
    width: 33.33%;
  }

  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  tr th:nth-child(1),
  tr td:nth-child(1) {
    width: 6%;
    max-width: 6%;
  }
  tr th:nth-child(2),
  tr td:nth-child(2) {
    width: 36%;
    // Trick for text-truncate works
    max-width: 0;
  }
  tr th:nth-child(3),
  tr td:nth-child(3),
  tr td:nth-child(3) > div {
    width: 22%;
    max-width: 22%;
  }
  tr th:nth-child(4),
  tr td:nth-child(4) {
    width: 37%;
    max-width: 37%;
  }

  td img {
    width: 22px;
    height: 22px;
  }

}
