// @import '~@mdi/font/css/materialdesignicons.min.css'; // Usando svg porque shadow dom não tem suporte a custom fonts
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@betha-plataforma/theme-bootstrap4/dist/theme-bootstrap4.min.css';

:host {

  .nopaper-detalhes-assinatura {
    min-height: 100px;
  }

  h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .unavailable img, .invalid img {
    max-width: 120px;
  }

  svg {
    margin: auto 0;
    display: block;
  }

  .badge {
    max-width: 180px;
  }

  .badge-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
  }

  .card-body {
    padding: 12px;
  }

  table, td {
    border-collapse: collapse;
  }
  thead {
    display: table;
    width: calc(100% - 17px);
  }

  tbody {
    display: block;
    max-height: 150px;
    overflow-y: scroll;
    padding-right: 6px;
  }

  th, td {
    width: 33.33%;
  }

  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  tr th:nth-child(1),
  tr td:nth-child(1) {
    width: 6%;
    max-width: 6%;
  }
  tr th:nth-child(2),
  tr td:nth-child(2) {
    width: 36%;
    // Trick for text-truncate works
    max-width: 0;
  }
  tr th:nth-child(3),
  tr td:nth-child(3),
  tr td:nth-child(3) > div {
    width: 22%;
    max-width: 22%;
  }
  tr th:nth-child(4),
  tr td:nth-child(4) {
    width: 37%;
    max-width: 37%;
  }

  td img {
    width: 22px;
    height: 22px;
  }

  .link-documento {

    &__copy-button {
      cursor: pointer;
    }
  }

  .mw-95 {
    max-width: 95%;
  }

  .fs-12 {
    font-size: 12px;
  }

  .fs-13 {
    font-size: 13px;
    line-height: 1.4286;
  }

  .fw-600 {
    font-weight: 600;
  }
  .separator {
    display: flex;
    align-items: center;
    color: #767676;
    text-align: left;
    margin: 10px 0;
  }

  .separator:after,
  .separator:before{
    content: "";
    flex-grow: 1;
    background: #D8D8D8;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px;
  }

  .arquivo-assinaturas-container {
    color: #595959;
    max-height: 110px;
    overflow-y: auto;
  }
}
